/* Navbar (Start) */

.navbar {
  display: flex;
  justify-content: space-between;
  background: #dde1e7;
  border-bottom: #d2d6db solid 1px;
  align-items: center;
  position: relative;
  font-weight: 200;
}

.brand_container {
  display: inline;
  color: #5e6879;
}

.brand_container a {
  color: #5e6879;
}

.icon {
  display: none;
  padding: 10px 10px;
}

.navbar_items_open {
  display: none;
}

.navbar_items {
  list-style: none;
  display: inline-flex;
  column-gap: 20px;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 0;
}

.navbar_items li a {
  display: inline-block;
  padding: 10px 0px;
  text-decoration: none;
  color: #000000;
  width: 100%;
  transition: font-weight 0.3s ease;
}

.navbar_items li a:hover {
  font-weight: 400;
}

.navbar_items li:last-child {
  margin-right: 2rem;
}

.navbar div:first-child {
  margin-left: 2rem;
}

/* Navbar (End) */

/* Main (Start) */

.main {
  background: #dde1e7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 81vh;
}

/* Main (End) */

/* Footer (Start) */

.footer {
  background: #dde1e7;
  margin-top: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: #d2d6db solid 1px;
  color: rgba(94, 104, 121);
}

.header_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_footer h6 {
  font-weight: 200;
}

.header_footer div:first-child {
  margin-left: 1rem;
}

.header_footer div:last-child {
  margin-right: 1rem;
}

.header_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 6rem;
}

.header_content p {
  margin: 0 10px;
}

/* Footer (End) */

.external_section {
  border-radius: 20px;
  background: #dde1e7;
  width: 90%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.inner_section {
  border-radius: 20px;
  width: 90%;
  background: #dde1e7;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.list {
  padding-bottom: 1rem;
}

.list li {
  font-size: large;
}

.title {
  color: #000000;
}

.subtitle {
  color: #424242;
}

.text {
  color: #000000;
}

.divisor_bottom {
  border-bottom: 1px solid #d2d6db;
  margin-bottom: 1.5rem;
}

.scroll_x {
  overflow-x: scroll;
}

.scroll_item{
  margin: 0 1rem;
  border: 1px solid #bfc3c8;
  border-radius: 10px;
  height: fit-content;
  padding: 1rem;
  min-width: 20%;
}

.content_scroll_x {
  padding: 2rem 0;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.recently_added_container {
  border: 1px solid #d2d6db;
  border-radius: 10px;
  padding: 1rem 0;
  margin: 0 1rem;
}

.component_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.component_name,
.component_author {
  margin: 5px;
}

/* Circle efects (Start) */

.circle {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  color: rgba(94, 104, 121, 0.3);
}

.circle::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

/* Circle efects (End) */

/* Links efects (Start) */

.link {
  font-size: 24px;
  transition: transform 0.3s ease, font-weight 0.3s ease, background 0.3s ease;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  background: linear-gradient(to right, #000000, #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link:hover {
  transform: scale(1.1);
  font-weight: 400;
  background: linear-gradient(
    0deg,
    rgba(86, 194, 255, 1) 0%,
    rgba(0, 5, 255, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Links efects (End) */

/* Dashboard (Start) */

.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  margin: 0;
  width: 200px;
  height: 100%;
  padding: 30px 15px;
  list-style: none;
  margin-left: 1rem;
}

.sidebar li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 0;
}

.sidebar li:hover {
  border-radius: 10px;
  background: #d2d6db;
}

.sidebar li a {
  display: flex;
  text-decoration: none;
  color: #000000;
  align-items: center;
}

.sidebar li a p {
  white-space: nowrap;
  margin: 0;
  margin-left: 15px;
}

.dashboard_content {
  width: 100%;
  margin: 0 1.5rem;
  padding: 1rem;
}

/* Dashboard (End) */

/* Media Querys (Start)*/

@media (max-width: 770px) {
  .divisor_bottom {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navbar_items {
    display: none;
    padding: 0;
  }

  .icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;
    color: #5e6879;
  }

  .navbar_items_open {
    position: absolute;
    display: block;
    width: 100%;
    background: #d6dadf;
    top: 45px;
    height: fit-content;
    overflow-y: hidden;
    animation: fadeIn 0.3s forwards;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 5px 9px rgba(94, 104, 121, 0.3);
  }

  .navbar_items_open li:hover {
    cursor: pointer;
    background: #d8dce1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar_items_close {
    display: block; /* Agregado */
    position: absolute;
    width: 100%;
    background: #d6dadf;
    top: 45px;
    animation: fadeOut 0.3s forwards;
    pointer-events: none;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@media (max-width: 500px) {
  .circle {
    height: 110px;
    width: 110px;
  }

  .circle::after {
    height: 85%;
    width: 85%;
  }
}

@media (max-width: 572px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 15px;
    margin: 0;
  }

  .sidebar li a p {
    display: none;
  }

  .sidebar li a svg {
    font-size: 35px;
  }

  .dashboard_content {
    margin: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  .component_info_db {
    justify-content: center;
  }
}

/* Media Querys (End)*/

.component_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.component_tags {
  width: 100%;
}

.component_tags span {
  display: inline-block;
  margin: 5px;
  background: #c5cacf;
  border-radius: 10px;
  padding: .2rem 1rem;
}

.component_main_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}